<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.stex.domain.mapper.strategy.AnalysisBrandGroupMapper">

  <resultMap type="AnalysisBrandGroupEntity" id="analysisBrandGroupMap">
    <id column="gid" property="gid"/>
    <result column="uid" property="uid"/>
    <result column="label" property="label"/>
    <result column="brands" property="brands" typeHandler="ListToJsonHandler"/>
  </resultMap>

  <select id="findOne" resultMap="analysisBrandGroupMap">
    SELECT
      gid,
      uid,
      label,
      brands
    FROM
      analysis_brand_groups
    WHERE
      uid = #{uid}
    AND
      gid = #{gid}
  </select>

  <select id="findAll" resultMap="analysisBrandGroupMap">
    SELECT
      gid,
      uid,
      label,
      brands
    FROM
      analysis_brand_groups
    WHERE
      uid = #{uid}
    ORDER BY gid
  </select>

  <select id="createOne" resultType="int">
    INSERT INTO analysis_brand_groups (
      uid,
      label,
      brands
    )
    VALUES (
      #{analysisBrandGroup.uid},
      #{analysisBrandGroup.label},
      #{analysisBrandGroup.brands,typeHandler=ListToJsonHandler}
    )
    RETURNING gid
  </select>

  <update id="updateOne">
    UPDATE analysis_brand_groups
    SET
      label = #{analysisBrandGroup.label},
      brands = #{analysisBrandGroup.brands,typeHandler=ListToJsonHandler}
    WHERE
      uid = #{analysisBrandGroup.uid}
    AND
      gid = #{analysisBrandGroup.gid}
  </update>

  <delete id="deleteOne">
    DELETE FROM analysis_brand_groups
    WHERE
      uid = #{uid}
    AND
      gid = #{gid}
  </delete>

</mapper>
