<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.stex.domain.mapper.strategy.BrandMapper">

  <select id="findAll" resultType="BrandEntity">
    SELECT
      code,
      name,
      market,
      detail
    FROM
      brands
    WHERE
      enabled = true
    ORDER BY code
  </select>

</mapper>
