<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.stex.domain.mapper.strategy.TradeRuleMapper">

  <resultMap id="tradeRuleMap" type="TradeRuleEntity">
    <id property="rid" column="rid" />
    <result property="uid" column="uid" />
    <result property="sid" column="sid" />
    <result property="tradingDayType" column="trading_day_type" />
    <result property="buyingAndSellingType" column="buying_and_selling_type" />
    <result property="orderType" column="order_type" />
    <result property="tradeType" column="trade_type" />
    <result property="orderBy" column="r_order" />
    <collection property="palettes" ofType="TradeStrategyPaletteEntity">
      <id property="pid" column="pid"/>
      <result property="uid" column="uid" />
      <result property="rid" column="rid" />
      <result property="cid" column="cid" />
      <result property="leftJointType" column="left_joint_type"/>
      <result property="rightJointType" column="right_joint_type"/>
      <result property="nestOpen" column="nest_open"/>
      <result property="nestClose" column="nest_close"/>
      <result property="orderBy" column="p_order"/>
    </collection>
  </resultMap>

  <select id="findOne" resultType="TradeRuleEntity">
    SELECT
      rid,
      uid,
      sid,
      trading_day_type,
      buying_and_selling_type,
      order_type,
      trade_type,
      order_by
    FROM trade_rules
    WHERE uid = #{uid}
      AND rid = #{rid}
  </select>

  <select id="findAllByTradeType" resultMap="tradeRuleMap">
    SELECT
      tr.rid,
      tr.uid,
      tr.sid,
      tr.trading_day_type,
      tr.buying_and_selling_type,
      tr.order_type,
      tr.trade_type,
      tr.order_by r_order,
      tsp.pid,
      tsp.left_joint_type,
      tsp.right_joint_type,
      tsp.nest_open,
      tsp.nest_close,
      tsp.order_by p_order,
      tsp.cid
    FROM trade_rules tr
    INNER JOIN trade_strategy_palettes tsp
      ON tr.rid = tsp.rid
    WHERE tr.uid = #{uid}
      AND tr.sid = #{sid}
      AND tr.trade_type = #{tradeType}
    ORDER BY tr.order_by, tsp.order_by
  </select>

  <select id="createAll" resultType="java.lang.Integer">
    INSERT INTO trade_rules (
      uid,
      sid,
      trading_day_type,
      buying_and_selling_type,
      order_type,
      trade_type,
      order_by
    )
    VALUES (
      <foreach collection="rules" item="rule" separator="), (">
        #{rule.uid},
        #{rule.sid},
        #{rule.tradingDayType},
        #{rule.buyingAndSellingType},
        #{rule.orderType},
        #{rule.tradeType},
        #{rule.orderBy}
      </foreach>
    )
    RETURNING rid
  </select>

  <update id="updateAll">
    <foreach collection="rules" item="rule" separator=";">
      UPDATE trade_rules
      SET
        trading_day_type = #{rule.tradingDayType},
        buying_and_selling_type = #{rule.buyingAndSellingType},
        order_type = #{rule.orderType},
        trade_type = #{rule.tradeType},
        order_by = #{rule.orderBy}
      WHERE uid = #{rule.uid}
        AND rid = #{rule.rid}
    </foreach>
  </update>

  <delete id="deleteAll">
    DELETE FROM trade_rules
    WHERE
    uid = #{uid}
    AND
    rid IN
    <foreach collection="rids" item="rid" open="(" close=")" separator=",">
      #{rid}
    </foreach>
  </delete>
</mapper>
